


.mainWindow{
    width: 100%;
    height: 100%;
    display: table;

}

body {
    background: #f9e6cf ; /* Цвет фона и путь к файлу */
  }

/*-------Навигация по меню------- */ 

.summary{
    margin: 5px auto;
}

.navigation{
   position: relative;
}   

.menuImage{
    width: 25px;
    height: 20px;
}

.menuImageOkCancel{
    width: 50px;
    height: 40px;
    vertical-align: center;
    align-content: right;
    align-items: right;
    align-self: right;
    
}


/*-------Навигация по кнопкам------- */ 

.button_icon{
    width: 50px;
    height: 50px;
}

.toolImage, .toolRectForColor, .toolImageActive{
    width: 50px;
    height: 40px;
}

.toolImageForPopup{
    width: 30px;
    height: 25px;
}


.toolRectForColor{
    border:1px solid gray;
}
.toolImageActive{
    border:3px solid rgb(119, 89, 89);    
}



/*-------canvas и 3 главных div------- */ 

.buttons{
    display: table-cell;
    width: 60px;
    height:90%;
    /*  display:inline-block;  */
    align-content: center;
    vertical-align: top;
    margin-top: 5px;
    
}

.settings{
    display: table-cell;
    height:45%;
    width: 150px;
    /*  display:inline-block;  */
    align-content: center;
    vertical-align: top;
    border: 1px;
    border-color: gray;
    border-style: solid;
    background-color: #ceb79a ;
    
    position: fixed;
    z-index: 101;   
    right: 0;
     
}


.histories{
    display: table-cell;
    height:45%;
    width: 150px;
    /*  display:inline-block;  */
    align-content: center;
    vertical-align: bottom;
    border: 1px;
    border-color: gray;
    border-style: solid;
    background-color: #ceb79a ;
    
    position: fixed;
    z-index: 101;   
    right: 0;
    bottom: 0;
     
}
.header{
    position:absolute; /* добавили */
    top:2px; /* добавили */
    left:2px; /* добавили */
    height:30px;
    vertical-align: middle;
    align-content: center;
    
}
.header b{
    position:absolute; /* добавили */
    bottom: 8px;
}

.header img{
    position:inherit; /* добавили */
    top: 2px;
    margin: 0px;
}

.header h5{

    margin: 0px;
}

.histories table{
    position:relative; 
    border: 1px;
    border-color: black;
    border-style: solid;
    background-color: #ac9881;  
    width:95%;  
    top: 30px;
    align-content: center;
}

.histories table tr{
    width:98%;
    bottom: 8px;
    border: 1px;
    border-color: black;
    border-style: solid;
    background-color: #ac9881 ;
        
}

input[type=number]{
    width: 50px;
} 

#divSettings{
    position:relative; 
    border: 1px;
    border-color: black;
    border-style: solid;
    background-color: #ac9881;  
    width:95%;  
    top: 30px;    
    
}

.main{
    display: table-cell;
    width: 95%; 
    float: left;

    height:100%;
    /*display:inline-block;  */


}
#mainCanvas{
    width: 100%;
    height: 100%;
     border: 1px;
    border-color: black;
   border-style: solid;
}
